.w-full-vw{
    width: 100vw;
}
.formBuilder{
    .p-inputwrapper .p-dropdown{
        width: 65% !important;
    }
    .flex{
        display: flex;
    }
    .flex-col{
        flex-direction: column;
    }
    .flex-row{
        flex-direction: row;
    }
    .w-full{
        width: 100%;
    }
    .w-25{
        width: 25%;
    }
    .w-70{
        width: 65%;
    }
    .m-2{
        margin: 16px;
    }
}